@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 373px;  
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}
@media (min-width: 768px) {
    body{
        background-image: url("./images/bg-desktop.svg");    
        background-repeat: no-repeat;
        background-size: cover;  
    }
}
div.page{
    padding: 30px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div header{
    width: 100%;
}
div.page header img{
    width: 150px;
}
@media (min-width: 768px) {
    div header{
        margin-bottom: 40px;
    }
    div.page header img{
        width: 200px;
    }
}
section{
    text-align: center;
}
section > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 768px) {
    section{
        text-align: start;
        display: flex;
        justify-content: space-between;
    }
}
section img{
    width: 350px;
    max-width: 100%;
    margin: 50px 0;
}
section h1{
    font-size: 28px;
    font-weight: 600;
    color: #FFF;
}
section p{
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    margin: 10px 0;
}
section div.btn{
    background-color: #FFF;
    color: hsl(257, 40%, 49%);
    width: 180px;
    font-size: 18px;
    display: inline-block;
    padding: 8px 25px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 7px hsl(257, 48%, 37%);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-top: 10px;
    text-align: center;
}
section div.btn:hover{
    background-color: hsl(300, 69%, 71%);
    color: #FFF;
}
@media (min-width: 768px) {
    section img{
        max-width: 50%;
        width: 900px;
    }
    section > div{
        align-items: start;
        margin-left: 30px;
    }
    section h1{
        font-size: 48px;
    }
    section p{
        font-size: 22px;
    }
    section div.btn{
        padding: 14px 24px;
    }
}
footer{
    text-align: center;
    margin: 50px 0 0;
}
@media (min-width:768px) {
    footer{
        text-align: right;
        width: 100%;
    }
}
footer span{
    color: #FFF;
    border: 1px solid #FFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}
footer span:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);;
}
footer span:nth-child(2){
    margin: 0 5px;
}
